body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 1rem;
}

a:hover {
  color: #ff6f61;
}

h1, h2, h3 {
  color: #ff6f61;
}

section {
  padding: 2rem;
}

header, footer {
  background-color: #222;
}
